/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root{
  --white: #f9f9f9;
  --black: rgb(15,15,15);
  --gray: darkgrey;
  --red: red;
} /* variables*/

/* Pseudoglobální */
body{
  /*margin-top: 80px;*/
  padding-bottom: 80px;
  background-color: white;
  position: relative;
  min-height: 100vh;
}

main{
  margin-left: 10%;
  margin-right: 10%;
}

/* Řešení "skip to content" */
.skip a{
    background: white;
    border: solid rgb(15,15,15);
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

.skip > a {
    position: absolute;
    top: -180px;   
    left: 20px;
  }
    
.skip > a:focus {
    position: absolute;
    top: 80px;
  }

/* Header */

.header{
  background-color: var(--black);
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
}

.logo{
  width: 40px;
  height: 40px;
  padding: 10px;
}

/* Nav menu */
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  background-color: var(--black);
  overflow: hidden;
}
.menu a{
  display: block;
  padding: 30px;
  color: var(--white);
  text-decoration: none;
}
.menu a:hover{
  background-color: var(--gray);
}
.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 29px 20px;
}/* Style label tag */

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 30px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

.active{
  color: white;
  text-decoration: underline;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

  /* Homepage flex */

  #hp_arch, #hp_auto, #hp_port{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  #hp_arch > img, #hp_auto > img, #hp_port > img{
    max-height: 400px;
    width: auto;
    max-width: 80%;
    object-fit: cover;
  }

  /* Portfolio grid */

  /* Architecture */  
  #port_arch {
    display: grid;
    max-height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-content: center;
    }

  #port_arch img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

    #arch_1 { 
      grid-column: 1 / 3; 
      grid-row: 1 / 1;
    }

    #arch_2 { 
      grid-column: 3 / 6; 
      grid-row: 1 / 3;
    }
    #arch_3 { 
      grid-column: 1 / 3; 
      grid-row: 2 / 2;
    }

    #arch_4 {
      grid-column: 1 / 6; 
      grid-row: 3 / 4;  
    }
    
  /* Automotive */  

  #port_auto {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    }

    #port_auto img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    #auto_3 { 
      grid-column: 1 / 5; 
      grid-row: 1 / 3;
    }

    #auto_1 { 
      grid-column: 1 / 3; 
      grid-row: 3 / 6;
    }

    #auto_2 { 
      grid-column: 3 / 5; 
      grid-row: 3 / 6;
    }

  /* Portrait */  
  #port_port{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
  }  

  #port_port img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  #port_1 { 
    grid-column: 1 / 3; 
    grid-row: 1 / 1;
  }

  #port_2 { 
    grid-column: 3 / 5; 
    grid-row: 1 / 1;
  }

  /* Temp bordel
  img {
    display: block;
    max-width: 95%;
    height: auto;
    padding-bottom: 5px;
  }*/

  h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: calc(40px + 2.5vw);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: calc(30px + 1.5vw);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  a, p, label{
    font-family: "Open Sans", sans-serif;
  }

  p{
    text-align: justify;
    font-size: 16pt;
  }

  .topNav{
    position: fixed;
    background-color: rgb(15,15,15);
    width: 100%;
    top: 0px;
    right: 0px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 70px;
    font-size: 46px;
    margin-bottom: 36px;
  }

  #burger{
    grid-column: 3/3;
    text-align: center;
    align-self: center;
    color: oldlace;
  }

  #logo{
    grid-column: 1/1;
    text-align: center;
    align-self: center;
    color: oldlace;
    padding: 10px;
  }

  /* Footer */
  footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(15,15,15);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer p {
    text-align: center;
    color: var(--white);
  }

  .text_body{
    text-align: center;
  }

  /* Form */
  .contact_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .contact_flex > div{
    margin-top: 20px;
  }

  .form{
    width: 60%;
    box-sizing: border-box;
  }

  .form_insides{
    flex-wrap: wrap;
    justify-content: center;
  }

  .line_input{
    padding:5px;
    margin:5px 0;
    border: 1px black solid;
    border-radius: 4px;
    width: 160px;
  }

  .submit{
    width: 172px;
    height: 40px;
    border-radius: 4px;
    color: white;
    background-color: var(--black);
    border-width: 0;
  }

/* Responsiveness v1 ------------------------------------------------------------ */ 
@media (min-width: 768px) {
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
      margin-left: 10%;
      margin-right: 10%;
  }
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: transparent;
      color: red;
  }

  .menu a{
    display: block;
    padding: 22px;
    color: var(--white);
  }

  .hamb{
      display: none;
  }

  .logo{
    margin-left: 10%;
  }

  .active{
    color: purple;
  }

  .active a{
    color: var(--white);
    text-decoration: underline;
  }

.line_input{
  width: 250px;
}

.submit{
  width: 262px;
}

}
/* Responsiveness v2 ------------------------------------------------------------ */ 
@media (min-width: 1200px) {

}